/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.content a, header a, footer a {
  font-weight: bold;
  color: #d9367f;
}

.content a:hover, header a:hover, footer a:hover {
  color: #b43178;
}