/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

code {
  font-size: 13px;
  padding: 2px 4px;
  background-color: #ffd6e0;
  border-radius: 3px;
}

.content a, header a, footer a {
  font-weight: bold;
  color: #d9367f;
}

.content a:hover, header a:hover, footer a:hover {
  color: #b43178;
}